# Assembly Language .gitignore

# Ignore object files and executables
*.o
*.out
*.bin
*.elf
build/*.img

# Ignore editor-specific files
.vscode/
.idea/
*.swp
*~

# Ignore build directory contents except for main_floppy.img
build/*
build/main_floppy.img
